### Import Pandas and Load Dataset

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('fao.csv',encoding='latin-1')

# inspect the top few rows of the dataframe
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

## Q2

In [3]:
abs(df.corr().loc['Element Code']).sort_values()

Area Code       0.000209
Y2016           0.023444
Y2015           0.023889
Y2017           0.024254
Y2018           0.024279
Y2014           0.024457
Item Code       0.024683
Element Code    1.000000
Name: Element Code, dtype: float64

## Q4

In [4]:
df.groupby('Item').sum().loc['Wine',['Y2015','Y2018']]

Y2015    4251.81
Y2018    4039.32
Name: Wine, dtype: float64

## Q6

In [5]:
df.describe().loc[['mean','std'],'Y2017'].round(2)

mean     140.92
std     1671.86
Name: Y2017, dtype: float64

## Q8

In [6]:
df.groupby('Element').sum().loc['Processing','Y2017']

292836.0

## Q10

In [7]:
print('Number Missing:', df.isna()['Y2014'].value_counts()[True].round(3))
print('Percentage Missing:', (df.isna()['Y2014'].value_counts(normalize=True)[True]*100).round(3))

Number Missing: 1589
Percentage Missing: 2.607

## Q11

In [8]:
df[['Y2017','Area']].groupby('Area').sum().reset_index().sort_values(by='Y2017').iloc[6]['Area']

'Guinea-Bissau'

## Q12

In [13]:
df[['Y2014','Y2015','Y2016','Y2017','Y2018','Element']].groupby('Element').sum().loc['Stock Variation'].sort_values(ascending=False).index[0]

'Y2014'

## Q14

In [10]:
df[df.Area=='Madagascar'].groupby('Element').sum().loc['Protein supply quantity (g/capita/day)','Y2015']

173.05

## Q15

In [11]:
df.Area.nunique()

49

## Q18

In [12]:
df[['Y2017','Area']].groupby('Area').sum().reset_index().sort_values(by='Y2017',ascending=False).iloc[0]['Area']

'Nigeria'